html { 
  background: url(Black_Granite.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Trajan Pro, Calisto MT, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}


body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	clear: both;
}

header {
	text-align: center;
	padding-bottom: 90px;
	color: #8E9240;
	background-color: #5A0003
}


nav {
    transition: opacity 0.5s ease 0s;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	padding: 12px 4px 10px 8px;
}

nav {
    opacity: 0.85;
    background: url(White_Marble.jpg);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

}

nav:hover {
    opacity: 90;
}

a:hover { 
    text-decoration: underline;
}

#container {
    margin: 30px auto;
    padding: 30px;
    background: none repeat scroll 0% 0% #5A0003;
    border-radius: 2px;
    width: 80%;
}

a { text-decoration: none;
	color: #8E9240;}

#Name{
	float:left;
	font-size: 50px;
	font-family: Trajan Pro, Bell MT, Calisto MT, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	text-transform: uppercase;
}

#Profession {
	font-size: 20px;
	margin-left: 50px;
}

#Philosophy{
	float:right;
	font-size: 30px;
	margin-top: 7px;
}

#Philosophy2{
	font-size: 15px;
	margin-right: 10px;
	text-align: right;
}

#Content {
	background: url(White_Marble_2.jpg);
    border: 1px solid black;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.Content_Super_Header{
	text-align: center;
}

.Content_Header{
	text-align: center;
}

.Content_Header_Underline{
	font-size: 3em;
	position: relative;
    top: -125px;
}

.Content_Text{
	position: relative;
    top: -130px;
    left: 15%;
    width: 70%;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 3.2em;
    line-height: 1em;
}
.engraved {
    color: rgba(221, 221, 221, 0.8);
	text-shadow: 1px 4px 6px #FFF, 0px 0px 0px #000, 1px 4px 6px #FFF;
}

.audax {
	font-weight: bold;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }