body {
	background-color: #5A0003
}

header {
	font-family: Calisto MT, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: 8E9240;
}